.cart-dropdown-container {
  position: absolute;
  top: 90px;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 340px;
  border: 1px solid black;
  padding: 20px;
  background-color: white;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
    background-color: red;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
  }

  .cart-items::-webkit-scrollbar {
    display: none;
  }

  button {
    margin-top: auto;
    width: 100%;
  }
}